*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
LocationforecastKey.kt
app/src/main/java/no/uio/ifi/in2000/team_17/ui/data_screen/DialogBoxes.kt
